# Ignore __pycache__ folder
__pycache__/
uocalendar/__pycache__/
uocalendar/model/__pycache__/

# Ignore include folder
uocalendar/include/

# Ignore Lib folder
uocalendar/Lib/

# Ignore Scripts folder
uocalendar/Scripts/

.venv/
.env